<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgb.org.dao.LabelMapper">
	<resultMap id="BaseResultMap" type="com.xgb.org.domain.Label">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="name" column="name" javaType="java.lang.String"></result>
		<result property="sort" column="sort" javaType="java.lang.Integer"></result>
	</resultMap>
	<sql id="Base_Column_List">
		id,name,sort
	</sql>
	
	<!-- 按ID查询 -->
	<select id="getBeanById" parameterType="com.xgb.org.domain.Label" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from t_label where id = #{id}
	</select>
	
	<!-- 按ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from t_label where id = #{id}
	</delete>
	
	<!-- 保存 -->
	<insert id="save" parameterType="com.xgb.org.domain.Label">
		insert into t_label
		(id,name,sort)
		values
		(#{id},#{name},#{sort} )
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.xgb.org.domain.Label">
		update t_label
		<set>
			<if test="id != null">id =#{id},</if>
			<if test="name != null">name =#{name},</if>
			<if test="sort != null">sort =#{sort}</if>
		</set>
		where id = #{id}
	</update>
	
	
	<select id="getList" parameterType="java.util.Map"
		resultMap="BaseResultMap" resultType="java.util.List">
		select
		<include refid="Base_Column_List" />
		from t_label where 1=1 
		<if test="search != null">
			AND (name LIKE concat('%',#{search},'%'))
		</if>
	</select>
	
	<select id="getCount" parameterType="com.xgb.org.domain.Label" resultType="int">
		select count(*) from t_label where 1=1 
		<if test="search != null">
			AND (name LIKE concat('%',#{search},'%'))
		</if>
	</select>
	

</mapper>
